body {
    margin: 0px;
    padding: 0;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #484848;
}

.container {
    margin: 100px;
    padding-right: 300px;
    padding-left: 300px;
    max_width: 1000px;
    margin: 30px auto;
}

/* Favicon */
link[rel="shortcut icon"] {
    display: none;
}