.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.locations,
.amenities {
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.locations {
    border-left: 1px solid #DDDDDD;
    padding-left: 10px;
}

.amenities {
    border-left: 1px solid #DDDDDD;
    padding-left: 10px;
}

.popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 10px;
    list-style: none;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover h2 {
    font-size: 16px;
}

button.search-button {
    background-color: #ff5a5f;
    color: #FFFFFF;
    font-size: 18px;
    height: 48px;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
}

footer {
    background-color: #ff5a5f;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}